/* App.css */

body {
    background: linear-gradient(135deg, #fcfdff, #b2a8bd);
    overflow-x: hidden;
    color: #5041bf;
    font-family: 'Lato', sans-serif;
}
.app-container {
    position: relative;
    height: 100%;
}
